@font-face {
  font-family: runeterra;
  src: url('/BeaufortforLOL-Regular.woff');
}

.runeterra {
  font-family: runeterra;
}

.width {
  width: 1198px;
}

.maroon {
  color: #906075;
}

.b--maroon {
  border-color: #704055;
}

.bg-maroon {
  background-color: #704055;
}

.bg-Demacia {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(221, 206, 191, 0.15) 100%
  );
}

.bg-Ionia {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(207, 130, 155, 0.25) 100%
  );
}

.bg-Freljord {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(90, 184, 218, 0.25) 100%
  );
}

.bg-Noxus {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(160, 82, 79, 0.25) 100%
  );
}

.b--Ionia {
  border-color: rgba(207, 130, 155, 1);
}

.Ionia {
  color: rgba(207, 130, 155, 1);
}

.b--Demacia {
  border-color: rgba(191, 176, 131, 1);
}

.Demacia {
  color: rgba(191, 176, 131, 1);
}

.b--ShadowIsles {
  border-color: rgba(59, 150, 111, 1);
}

.ShadowIsles {
  color: rgba(59, 150, 111, 1);
}

.b--Freljord {
  border-color: rgba(90, 184, 218, 1);
}

.Freljord {
  color: rgba(90, 184, 218, 1);
}

.b--Noxus {
  border-color: rgba(160, 82, 79, 1);
}

.Noxus {
  color: rgba(160, 82, 79, 1);
}

.bg-ShadowIsles {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(59, 150, 111, 0.25) 100%
  );
}

.bg-PiltoverZaun {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(226, 159, 118, 0.25) 100%
  );
}

.Bilgewater {
  color: rgba(180, 86, 58, 1);
}

.bg-Bilgewater {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(180, 86, 58, 0.25) 100%
  );
}

.w6 {
  width: 275px;
}

.b--PiltoverZaun {
  border-color: rgba(226, 159, 118, 1);
}

.PiltoverZaun {
  color: rgba(226, 159, 118, 1);
}

.push-left {
  transform: translateX(-275px);
}

.push-right {
  transform: translateX(175px);
}

.bg-dark-mode {
  background-color: #1e1e2f;
  /* background: rgb(30,30,47);
  background: linear-gradient(180deg, rgba(30,30,47,1) 0%, rgba(39,41,61,1) 100%); */
}

.bg-dark-card {
  background-color: #27293d;
}
.dark-mode {
  color: #525f7f;
}

.no-pointer {
  pointer-events: none;
}

.break-word {
  word-wrap: break-word;
}

.changelog h1,
.changelog h2,
.changelog h3,
.changelog h4,
.changelog h5,
.changelog h6 {
  font-weight: 100;
}

.drag {
  -webkit-user-drag: element;
  -webkit-user-select: none;
}
