<div class="code f5 flex items-center mb4">
  <div class="outer-circle mr3 bg-animate {{this.opponentStatus.class}}">
    <div class="inner-circle bg-animate">
      <img src="/images/{{this.opponentStatus.image}}" class="db br-100 mr3" height="65" width="65" alt="avatar">

    </div>
  </div>
  <p class="pa1 ma0">{{this.opponentStatus.text}}<br>{{this.playerStatus}}</p>
</div>
