{{#unless this.atLeastOneDeck}}
  <div class="w-100 bg-black white">
    <h1 class="ma0 pa3 f6 code tc lh-copy">
      <a href="https://blacklivesmatter.com" class="white link underline-hover">BLACK LIVES MATTER</a>
    </h1>
  </div>
{{/unless}}
