<h1 id="changelog">Changelog</h1>
<h2 id="section">3/5/2021</h2>
<ul>
<li>Added Shurima Bundle</li>
</ul>
<h2 id="section-1">2/13/2021</h2>
<ul>
<li>Updated sets to Aphelios Bundle</li>
</ul>
<h2 id="section-2">1/3/2021</h2>
<ul>
<li>Added new set 3 cards</li>
</ul>
<h2 id="section-3">10/16/2020</h2>
<ul>
<li>Added support for landmarks</li>
<li>Updated sets to 1.11</li>
</ul>
<h2 id="section-4">8/26/2020</h2>
<ul>
<li>Added Targon set</li>
<li>Updated sets to 1.8</li>
</ul>
<h2 id="section-5">5/27/2020</h2>
<ul>
<li>Adding mobile touch screen support (experimental)</li>
</ul>
<h2 id="section-6">5/25/2020</h2>
<ul>
<li>Updated cards for patch 1.2</li>
</ul>
<h2 id="section-7">5/18/2020</h2>
<ul>
<li>Fixed bug where card counts were sometimes shown incorrectly</li>
</ul>
<h2 id="section-8">5/17/2020</h2>
<ul>
<li>Added integration tests for ban selection component</li>
<li>Fixed all linting errors</li>
<li>Updated about page to include instructions and contact information</li>
</ul>
<h2 id="section-9">5/5/2020</h2>
<ul>
<li>Fixed bug of not being able to delete decks</li>
</ul>
<h2 id="section-10">4/29/2020</h2>
<ul>
<li>Removed all unused code</li>
<li>Updated Modal UI for viewing decks</li>
<li>Added support for set 2</li>
</ul>
<h2 id="section-11">4/28/2020</h2>
<ul>
<li>Fixed bug related to clearing selected decks</li>
<li>using shared db pool</li>
<li>Updated UI to use dark mode</li>
<li>Import deck codes support for set 1</li>
<li>Saved frequently used decks</li>
<li>Hooked up to new backend</li>
<li>Allows variable number of decks and bans</li>
</ul>
