<h1 id="changelog">Changelog</h1>
<h2 id="section">9/25/2021</h2>
<ul>
<li>Added support for multiregion cards</li>
<li>Added Bandle City Support</li>
</ul>
<h2 id="section-1">7/16/2021</h2>
<ul>
<li>Updated Viego/Akshan sets</li>
</ul>
<h2 id="section-2">7/3/2021</h2>
<ul>
<li>Updated to 2.11.0</li>
</ul>
<h2 id="section-3">5/8/2021</h2>
<ul>
<li>Updated styling</li>
<li>Updated mobile version</li>
<li>new backend more stable for people with poor connections</li>
</ul>
<h2 id="section-4">2/13/2021</h2>
<ul>
<li>Updated sets to Aphelios Bundle</li>
</ul>
<h2 id="section-5">1/3/2021</h2>
<ul>
<li>Added new set 3 cards</li>
</ul>
<h2 id="section-6">10/16/2020</h2>
<ul>
<li>Added support for landmarks</li>
<li>Updated sets to 1.11</li>
</ul>
<h2 id="section-7">8/26/2020</h2>
<ul>
<li>Added Targon set</li>
<li>Updated sets to 1.8</li>
</ul>
<h2 id="section-8">5/27/2020</h2>
<ul>
<li>Adding mobile touch screen support (experimental)</li>
</ul>
<h2 id="section-9">5/25/2020</h2>
<ul>
<li>Updated cards for patch 1.2</li>
</ul>
<h2 id="section-10">5/18/2020</h2>
<ul>
<li>Fixed bug where card counts were sometimes shown incorrectly</li>
</ul>
<h2 id="section-11">5/17/2020</h2>
<ul>
<li>Added integration tests for ban selection component</li>
<li>Fixed all linting errors</li>
<li>Updated about page to include instructions and contact information</li>
</ul>
<h2 id="section-12">5/5/2020</h2>
<ul>
<li>Fixed bug of not being able to delete decks</li>
</ul>
<h2 id="section-13">4/29/2020</h2>
<ul>
<li>Removed all unused code</li>
<li>Updated Modal UI for viewing decks</li>
<li>Added support for set 2</li>
</ul>
<h2 id="section-14">4/28/2020</h2>
<ul>
<li>Fixed bug related to clearing selected decks</li>
<li>using shared db pool</li>
<li>Updated UI to use dark mode</li>
<li>Import deck codes support for set 1</li>
<li>Saved frequently used decks</li>
<li>Hooked up to new backend</li>
<li>Allows variable number of decks and bans</li>
</ul>
