<div class="pa2 mr2 mv2 shadow-hover">
  <h5 class="code f5 tc">{{@deckCode}}</h5>
  <ul class="list pl0 measure center">
    {{#each this.cards as |card|}}
      <li class="pv3 ba bl-0 bt-0 br-0 b--dotted b--black-30">({{card.count}}) {{card.name}}</li>
    {{/each}}
  </ul>
</div>
