

  <div class="w5 bg-dark-card white-50 hover-white link pointer pa3 br3 shadow-4">
    <div class="flex">
    {{#each @deck.regions as |region|}}
      <img class="db w2 h2 no-pointer" src="images/{{trim region}}.png" />
    {{/each}}
    </div>
    <hr class="b--white-20">
    {{#if @name}}
      <p class="truncate ma0 pa0">{{@name}}</p>
    {{else}}
      <p class="truncate ma0 pa0">{{@deck.code}}</p>
    {{/if}}
  </div>
