<p class="mt5 tc">
Create room and paste link to opponent to begin banning decks.
</p>
<p class="tc">
<button
  {{action "createNewRoom"}}
  class="mb3 f5 shadow-4 shadow-hover bn bg-white dark-gray ph3 pv3">
  Create new room
</button>
</p>
