<p class="mt5 tc">
Create room and paste link to opponent to begin banning decks.
</p>
<p class="tc">
<button
  {{action "createNewRoom"}}
  class="ma3 f5 dib ba b--black-20 bg-maroon white ph4 pv3 shadow-4 no-underline shadow-hover">
  Create new room
</button>
</p>
