<section class="aspect-ratio--object bg-black-30" >
  <div class="center mt5-l mw7-l ma0 bg-white pa3 ba b--black-30 shadow-2" {{on-click-outside @clickedOutside}}>
    {{yield}}
  </div>
</section>
