<section class="absolute absolute--fill bg-black-30">
  <div class="center mt4-l mw8-l ma0 bg-dark-card pa3 ba b--black-40 shadow-1 br2" {{on-click-outside @clickedOutside}}>
    {{yield}}
  </div>
</section>
