<h1 class="fw1 runeterra">Welcome to Runeterraban</h1>

<p>This site can be used to help players in conquest style tournament ban decks at the same time.</p>
<div class="ba b--light-red bw1 pa3 w-50 bg-black-10 br3">
<h3 class="light-red fw1">MOBILE USERS</h3>
<p class="light-red">You may have to enable desktop site to view both drop zone and saved decks in same view.</p>
</div>

<h2 class="runeterra">How to use</h2>
<ol>
  <li class="pv2 lh-copy">On the right side, click "+ New Deck" and import your decks to use. (They are saved browser side, so no need to re-import before every match)</li>
  <li class="pv2 lh-copy">On <a class="link light-blue underline-hover" href="/">the homepage</a>, select the correct number of decks and bans, click "Create new room".</li>
  <li class="pv2 lh-copy">Copy room id/url and send to your opponent, you will see "Opponent has connected" when they have joined</li>
  <li class="pv2 lh-copy">Drag your decks from right side into the spots for each deck, all decks must be unique.</li>
  <li class="pv2 lh-copy">Click "Submit decks", you will not see your opponents decks until both of you have submitted</li>
  <li class="pv2 lh-copy">Select which deck to ban by clicking "Ban" next to the deck, you can click on the thumbnail to view the full deck list.</li>
  <li class="pv2 lh-copy">Submit ban, once both players have submitted their bans you will be alerted which deck has been banned.</li>
</ol>


<h2 class="runeterra">About</h2>
<p>Built by <a class="link light-blue underline-hover" href="https://overlandandseas.dev">Øverlandandseas</a>.</p>
<p>Feel free to reach out to me on discord <span class="b code light-red">loverland#4032</span> or <a href="https://twitter.com/Overlandandseas" class="link light-blue underline-hover">twitter</a> for any questions or issues.</p>

test failing test
