<h1 class="fw1">About</h1>
<h3 class="fw1">Welcome to Runeterraban</h3>

<p>You can use this site to ban decks at the same time as opponent to avoid any advantages</p>
<p>Site is still in beta, except bugs and frequest updates</p>
