<Navigation />
<div class="flex justify-between">
  <div class="mw9">
    <section class="ma3 ma5-ns">
      {{outlet}}
    </section>
  </div>
  <div class="dn db-l">
    <SavedDecks />
  </div>
</div>
