<div class="flex justify-between w-100 bg-black-20 white bb bw1 b--black-40">
  <div class=" flex items-center pa3">
    <img src="/assets/images/LoR-small.svg" class="db h2 w2" />
    <a class="dib link f4 ml3 runeterra white" href="/">Legends of Runeterra Deck Ban</a>
  </div>
    <div class="flex items-center">
      <a href="/about" class="f4 runeterra pa3 db bl bw1 b--black-40 link white h-100 lh-copy hover-bg-black-40 bg-animate">about</a><a href="/updates" class="f4 runeterra pa3 db link white bl bw1 b--black-40 h-100 lh-copy hover-bg-black-40 bg-animate">updates</a>
    </div>
</div>
<div class="mw9 center">
  <SideBarHolder />
  <section class="ma5">
    {{outlet}}
  </section>
</div>
