<div class="bt bw2 b--maroon w-100">
<h1 class="tc mb2 mt4 fw6 f1 lh-title ttu runeterra">Legends of Runeterra</h1>
<h2 class="tc mv2 fw6 f2 runeterra">Deck Ban</h2>
<section class="mw9 center ph4">
  {{outlet}}
</section>
</div>
