
<Main />


<div class="mt4">
  <a class="ma3 f5 dib ba b--black-20 bg-maroon white ph4 pv3 shadow-4 no-underline shadow-hover" href="#">Primary</a>
  <a class="ma3 f5 dib ba b--maroon maroon ph4 pv3 shadow-4 no-underline shadow-hover" href="#">Secondary</a>
  <a class="ma3 f5 dib ba b--black-20 bg-green white ph3 pv2 shadow-4 br2 no-underline shadow-hover" href="#">Positive</a>
  <a class="ma3 f5 dib ba b--black-20 bg-dark-red white ph3 pv2 shadow-4 br2 no-underline shadow-hover" href="#">Negative</a>
</div>
