<h1 id="changelog">Changelog</h1>
<h2 id="section">4/28/2020</h2>
<ul>
<li>Updated UI to use dark mode</li>
<li>Import deck codes support for set 1</li>
<li>Saved frequently used decks</li>
<li>Hooked up to new backend</li>
<li>Allows variable number of decks and bans</li>
</ul>
